{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
{{ title }}
{% endblock head_title %}


{% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ BASE_DIR }}/">Home</a></li>
        <li class="breadcrumb-item active">Gestione Classi</li>
    </ol>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1 class="text-primary text-center">Gestione Classi</h1>
        <hr>
        {% if form %}
            {% crispy form %}
            <hr>
        {% endif %}
        <div class="">
            <h3 class="text-left text-primary">{{ studenti_attivati}} / {{ studenti_totali }} studenti attivati</h3><br/>
            {% for classe in classi %}
                <div class="col-md-6">
                    <div class="well">
                        <a href="./{{ classe.0 }}-{{ classe.1 }}/">{{ classe.0 }}^ {{ classe.1 }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

