{% extends "base.html" %}
{% load static %}

{% block head_title %}
Assemblea {{ assemblea.data_assemblea }}
{% endblock head_title %}

{% block head_extra %}
<!--<link href="{% static 'css/dettagli_assemblea.css' %}" rel="stylesheet" type="text/css">-->
{% endblock head_extra %}

{% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ BASE_DIR }}/">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ BASE_DIR }}/assemblee/">Assemblee</a></li>
        <li class="breadcrumb-item active">{{ assemblea.data_assemblea }}</li>
    </ol>
</div>

    <div class="row">
        <h1 class="text-center text-primary">Assemblea del {{ assemblea.data_assemblea }}</h1>
        <hr>
        {% for turno in turni %}
            <div class="col-md-12">
                <div class="well">
                    <a href="./{{ turno.id}}"><h2 class="text-primary">{{ forloop.counter }}° Turno</a> <small>dalle {{ turno.ora }} alle {{ turno.orario_fine }}</small></h2>
                    <p class="lead text-muted"></p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
