{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
{{ title }}
{% endblock head_title %}


{% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ BASE_DIR }}/">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ BASE_DIR }}/gestione/">Gestione Classi</a></li>
        <li class="breadcrumb-item active">{{ classe }}^ {{ sezione }}</li>
    </ol>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1 class="text-center text-primary">{{ classe }}^ {{ sezione }}</h1>
        <hr>
        {% if form %}
        {% crispy form %}
        {% endif %}

        <div class="col-md-12">
            {% if studenti_inattivi|length > 0 %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Cognome</th>
                        <th>Nome</th>
                        <th>Username</th>
                        <th>Password</th>
			<th>Modifica</th>	
                    </tr>
                    </thead>
                    <tbody>
                    {% for studente in studenti_inattivi %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ studente.cognome }}</td>
                        <td>{{ studente.nome }}</td>
                        <td>{{ studente.user.username }}</td>
                        <td>{{ studente.password }}</td>
			            <td><a class="btn btn-danger confirm-delete" role="button" href="{{ BASE_DIR }}/gestione/{{ classe}}-{{ sezione}}/elimina_studente/{{ studente.user.username }}/">Elimina</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if studenti_inattivi|length > 0 and studenti_attivi|length > 0 %}
            <hr/>
            {% endif %}
            {% if studenti_attivi|length > 0 %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Cognome</th>
                        <th>Nome</th>
                        <th>Username</th>
                        <th>Modifica</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for studente in studenti_attivi %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ studente.cognome }}</td>
                        <td>{{ studente.nome }}</td>
                        <td>{{ studente.user.username }}</td>
                        <td><a class="btn btn-danger confirm-delete" role="button" href="{{ BASE_DIR }}/gestione/{{ classe}}-{{ sezione}}/elimina_studente/{{ studente.user.username }}/">Elimina</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
