{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load query_tags %}

{% block style %}
<!--table tbody>tr>td.vert-align{vertical-align: middle;}-->
{% endblock style %}

{% block head_title %}
{{ title }}
{% endblock head_title %}

{% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ BASE_DIR }}/">Home</a></li>
        <li class="breadcrumb-item active">Settimana dei recuperi</li>
    </ol>
</div>
<hr class="hidden-lg hidden-md">
<h3 class="hidden-lg hidden-md text-center text-danger text-lead">Questa pagina sarebbe meglio visualizzata su uno
    schermo più grande</h3>
<hr class="hidden-lg hidden-md">

<div class="row">
    {% if settimana %}
        <h1 class="text-center text-primary">Settimana dei recuperi del {{ settimana.data_inizio }}</h1>
        <hr>
        {% if user.studente.is_rappr_istituto or user.is_superuser %}
            <div class="btn-group btn-group-justified" role="group">
                <a href="{{ settimana.id }}/delete/" class="btn btn-danger btn-block" role="button">Elimina settimana</a>
            </div>
            <hr>
        {% endif %}
        <div class="col-md-12">
            <table class="table table-bordered table-responsive">
                <thead>
                <tr>
                    <th>Turno</th>
                    {% for giorno in giorni %}
                        <th class="col-md-2 text-center">{% if user.studente.is_rappr_istituto or user.is_superuser %}<a href="{{ giorno.id }}/">{{ giorno.nome }}</a>{% else %}{{ giorno.nome }}{% endif %}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for riga in tabella %}
                        <tr>
                            <td class="text-center">{{ forloop.counter }}</td>
                            {% for casella in riga %}
                            {% with casella as gruppo %}
                                {% if gruppo.titolo %}
                                    {% if gruppo.recupero %}
                                        <td class="danger text-center" style="vertical-align: middle;"><div style="height: 100px; overflow:auto;">{{ gruppo.titolo }}<br>{{ gruppo.turno.ora }} - {{ gruppo.turno.orario_fine}}<br>{{ gruppo.aula }}</div></td>
                                    {% else %}
                                        <td class="success text-center" style="vertical-align: middle;"><div style="height: 100px; overflow:auto;"><a href="scegli_gruppo/{{ gruppo.turno.id }}">{{ gruppo.titolo }}</a><br>{{ gruppo.turno.ora }} - {{ gruppo.turno.orario_fine}}<br>{{ gruppo.aula }}</div></td>
                                    {% endif %}
                                {% else %}
                                    {% if gruppo > 0 %}
                                        <td class="text-center" style="vertical-align: middle;"><div style="height: 100px; overflow:auto;"><a href="scegli_gruppo/{{ gruppo }}">Scegli un gruppo</a></div></td>
                                    {% else %}
                                        <td style="vertical-align: middle;"><div style="height: 100px; overflow:auto;"></div></td>
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h1 class="text-center text-primary">Settimana dei recuperi</h1>
        <hr/>
        {% if user.studente.is_rappr_istituto or user.is_superuser %}
            <a href="aggiungi_settimana/" class="btn btn-primary btn-block" role="button">Aggiungi settimana dei recuperi</a>
            <hr>
        {% endif %}
        <h2 class="text-center text-warning"><i>Settimana dei recuperi non ancora pianificata</i></h2>
    {% endif %}
</div>

{% endblock content %}
