{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load query_tags %}

{% block style %}
<!--table tbody>tr>td.vert-align{vertical-align: middle;}-->
{% endblock style %}

{% block head_title %}
{{ title }}
{% endblock head_title %}

{% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ BASE_DIR }}/">Home</a></li>
        <li class="breadcrumb-item active">Settimana dei recuperi</li>
    </ol>
</div>
<hr class="hidden-lg hidden-md">
<h3 class="hidden-lg hidden-md text-center text-danger text-lead">Questa pagina sarebbe meglio visualizzata su uno
    schermo più grande</h3>
<hr class="hidden-lg hidden-md">

<div class="row">
    <h1 class="text-center text-primary">Settimana dei recuperi del {{ settimana.data_inizio }}</h1>
    <hr>
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Turno</th>
                {% for giorno in giorni %}
                    <th class="col-md-2">{{ giorno.nome }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% highest_numero_turni giorni as numero_turni%}
                {% for i in numero_turni %}
                {% with forloop.counter0 as n%}
                    <tr>
                        <td class="text-center vert-align">{{ forloop.counter }}</td>
                        {% for giorno in giorni %}
                            {% query_turni giorno index=n as turno %}
                            {% query_gruppi turno user as gruppi%}
                            {% if not gruppi|length == 0 %}
                                {% for gruppo in gruppi %}
                                    {% if gruppo.recupero == True %}
                                        <td class="danger text-center" style="vertical-align: middle;"><div style="height: 70px; overflow:auto;">{{ gruppo.titolo }}<br>{{ gruppo.turno.ora }} - {{ gruppo.turno.orario_fine}}<br>{{ gruppo.aula }}</div></td>
                                    {% else %}
                                        <td class="success text-center" style="vertical-align: middle;"><div style="height: 70px; overflow:auto;"><a href="scegli_gruppo/{{ turno.id }}">{{ gruppo.titolo }}</a><br>{{ gruppo.turno.ora }} - {{ gruppo.turno.orario_fine}}<br>{{ gruppo.aula }}</div></td>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% if not turno.id == None %}
                                    <td class="text-center" style="vertical-align: middle;"><div style="height: 70px; overflow:auto;"><a href="scegli_gruppo/{{ turno.id }}">Scegli un gruppo</a></div></td>
                                {% else %}
                                    <td style="vertical-align: middle;"><div style="height: 70px; overflow:auto;"></div></td>
                                {% endif %}
                            {% endif %}

                        {% endfor %}
                    </tr>
                {% endwith %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}
